D1>[ZH][ZH]
D2>[JA][JA]
D3>[KO][KO]
D4>[SA][SA]
D5>[EN][EN]
D6>[SH][SH]
D7>[GD][GD]
D8>[WZ][WZ]
D9>[SZ][SZ]
D0>[TH][TH]
EXEPATHS>D:\DEEP LEARNING\CHATGPT\MoeGoe\MoeGoe.exe
MODELPATHS>D:\DEEP LEARNING\CHATGPT\vits-tts\model\japanese_riddle_joker\365_epochs.pth|D:\DEEP LEARNING\CHATGPT\vits-tts\model\japanse_and_chinese\1026_epochs.pth|D:\DEEP LEARNING\CHATGPT\vits-tts\model\japanse_and_chinese\1374_epochs.pth|D:\DEEP LEARNING\CHATGPT\vits-tts\model\365_epochs.pth|D:\DEEP LEARNING\CHATGPT\vits-tts\model\H_excluded.pth
CONFIGPATHS>D:\DEEP LEARNING\CHATGPT\vits-tts\config\japanese_riddle_joker\config.json|D:\DEEP LEARNING\CHATGPT\vits-tts\config\japanse_and_chinese\config.json|D:\DEEP LEARNING\CHATGPT\vits-tts\config\config.json
SAVEPATHS>D:\DEEP LEARNING\CHATGPT\vits-tts\result_audio\1.wav|D:\DEEP LEARNING\CHATGPT\vits-tts\config\japanse_and_chinese\1.wav|D:\DEEP LEARNING\CHATGPT\vits-tts\config\japanese_riddle_joker\1.wav|D:\DEEP LEARNING\CHATGPT\vits-tts\result_audio\5.wav|D:\DEEP LEARNING\CHATGPT\vits-tts\result_audio\4.wav
